[project]
	description = zVM system management tool kit in python
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Huang Rui (bjhuangr)
[access "refs/for/refs/*"]
	read = group user/Huang Rui (bjhuangr)
	read = group zvm-dev-team
	push = group user/Huang Rui (bjhuangr)
	push = group zvm-dev-team
	label-Code-Review = -2..+2 group user/Huang Rui (bjhuangr)
	label-Code-Review = -2..+2 group zvm-core
	label-Verified = -1..+1 group user/Huang Rui (bjhuangr)
	label-Verified = -1..+1 group user/zVMopenstack
	label-Verified = -1..+1 group zvm-core
	rebase = group user/Huang Rui (bjhuangr)
	rebase = group zvm-dev-team
	removeReviewer = group user/Huang Rui (bjhuangr)
	submit = group user/Huang Rui (bjhuangr)
	submit = group zvm-core
	owner = group zvm-core
[access "refs/heads/*"]
	read = group user/Huang Rui (bjhuangr)
	read = group zvm-dev-team
	create = group user/Huang Rui (bjhuangr)
	create = group zvm-core
	push = +force group user/Huang Rui (bjhuangr)
	pushMerge = group user/Huang Rui (bjhuangr)
	label-Code-Review = -2..+2 group zvm-core
	label-Verified = -1..+1 group user/zVMopenstack
	label-Verified = -1..+1 group zvm-core
	submit = group zvm-core
	editTopicName = group zvm-core
	owner = group zvm-core
[access "refs/tags/*"]
	push = group user/Huang Rui (bjhuangr)
	push = +force group user/Huang Rui (bjhuangr)
[commentlink "launchpadbugs"]
    match = ([Bb][Uu][Gg].)(\\d+)
    link = https://bugs.launchpad.net/python-zvm-sdk/+bug/$2
