[project]
	description = zVM system management tool kit in python
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bjhuangr
[access "refs/for/refs/*"]
	read = group user/bjhuangr
	read = group zvm-dev-team
	push = group user/bjhuangr
	push = group zvm-dev-team
	label-Code-Review = -2..+2 group user/bjhuangr
	label-Code-Review = -2..+2 group zvm-core
	label-Verified = -1..+1 group user/bjhuangr
	label-Verified = -1..+1 group user/zVMopenstack
	label-Verified = -1..+1 group zvm-core
	rebase = group user/bjhuangr
	rebase = group zvm-dev-team
	removeReviewer = group user/bjhuangr
	submit = group user/bjhuangr
	submit = group zvm-core
	labelAs-Verified = -1..+1 group zvm-core
[access "refs/heads/*"]
	read = group user/bjhuangr
	read = group zvm-dev-team
	create = group user/bjhuangr
	create = group zvm-core
	push = +force group user/bjhuangr
	pushMerge = group user/bjhuangr
	label-Code-Review = -2..+2 group zvm-core
	label-Verified = -1..+1 group user/zVMopenstack
	label-Verified = -1..+1 group zvm-core
	submit = group zvm-core
	labelAs-Verified = -1..+1 group zvm-core
	editTopicName = group zvm-core
	deleteOwnChanges = group zvm-core
[access "refs/tags/*"]
	push = group user/bjhuangr
	push = +force group user/bjhuangr
