[Unit]
Description=zVM SDK API server
After=network.target syslog.target

[Service]
Type=simple
User=zvmsdk
Group=zvmsdk
ExecStart=/usr/bin/sdkserver

[Install]
WantedBy=multi-user.target